
.wrapper{
    max-width: 200px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 2px 2px 5px 1px black;
    div{
        margin: 0 auto;
        width: max-content;
        padding: 10px;
        background-color: rgb(255, 255, 255);
    }
    button{
        margin-top: 5px;
    }
}