.form {
  margin-top: 50px;
  border: 1px solid rgb(197, 197, 197, 0.5);
  padding: 20px 15px;
  .fallback {
    color: red;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  label {
    font-size: 25px;
    line-height: 20px;
    font-weight: 800;
  }
  input {
    border: 1px solid rgb(207, 207, 207);
    padding: 10px 5px;
    font-size: 15px;
    outline: none;
  }
  button {
    cursor: pointer;
    padding: 0px 20px;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
    color: white;
    transition: 0.5s;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    border: none;
  }
}
.error {
  position: absolute;
  color: rgb(235, 8, 8, 0.5);
  display: inline-block;
  right: 50px;
  font-size: 15px;
}
.formCharacter {
  box-shadow: 3px 3px 5px 1px rgb(167, 167, 167);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  button {
    margin: 0;
    border: none;
  }
}
