footer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 1349.4px;
    left: 0;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(153, 153, 153);
    font-size: 12px;
    img{
        max-width: 180px;
    }
}

@media (max-width: 1000px){
    footer{
        width: 1000px;
    }
}
@media (max-width: 700px){
    footer{
        width: 700px;
    }
}


