*{
    box-sizing: border-box;
    margin: 0;
}
.head{
    display: flex;
    justify-content: center;
}
.item{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}
.item:first-child{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgb(196, 196, 196);
}
/* .item:last-child{
    background-color: cadetblue;
} */
.nameCharacter{
    width: 100%;
    height: 100%;
    padding: 20px;
    h3{
        margin-bottom: 20px;
    }
    div{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        button{
            background-color: black;
            color: blanchedalmond;
            padding: 5px 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: .5s;
        }
        button:hover{
            background-color: rgb(255, 255, 255);
            color: black;
            transform: translateY(5px) translateX(5px);
        }
    }
}

img{
    width: 30%;
    height: 100%;
}

/* //////////right */


.item__2{
    text-align: start;
    background-image: url('https://cdnb.artstation.com/p/assets/covers/images/001/510/489/large/eduardo-sanchez-banuelos-iron-man.jpg?1448337929');
    background-size: cover;
    color: seashell;
    box-shadow: 0 0 5px 1px rgb(92, 92, 92);
    button{
        background-color: black;
        color: blanchedalmond;
        padding: 5px 50px;
        border-radius: 10px;
        cursor: pointer;
        transition: .5s;
    }
    button:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        transform: translateY(5px) translateX(5px);
    }
    h3{
        display: block;
        max-width: 350px;
        margin-bottom: 50px;
    }
}
